<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Cucumber Parallel Suite for Open Cart" verbose="1" parallel="methods" thread-count="3">
    <test name="Cucumber Tests" parallel="methods" thread-count="2">
        <classes>
            <class name="runner.TestRunner"/>
        </classes>
    </test>
</suite>